@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  position: relative;
}
.lds-dual-ring div {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 50px;
  border-radius: 50%;
  border: 8px solid #da3829;
  border-color: #da3829 transparent #da3829 transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}
.lds-dual-ring.dark-spinner div {
  border: 8px solid #da3829;
  border-color: #da3829 transparent #da3829 transparent;
}

.lds-dual-ring {
  width: 96px !important;
  -webkit-transform: translate(-48px, -48px) scale(0.48) translate(48px, 48px);
  transform: translate(-48px, -48px) scale(0.48) translate(48px, 48px);
}

.lds-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15%;
}

.overlay-style {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 100;
}

